    {% extends 'service/base.html' %}

{% load staticfiles %}

    {% block head %}

    <title>Help,Support about us, You can contact u s our email and phone no,We help You .</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="canonical" href="http://www..com/service/contact_us/">

{% endblock %}



    {% block basel %}


    {% endblock %}




{% block albums_active %}active{% endblock %}


{% block body %}


  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url({% static 'service/img/bg-img/18.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-text">
            <h2>About Us</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="famie-breadcrumb">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'main' %}"><i class="fa fa-home"></i> Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">About</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->



  <!-- ##### About Us Area Start ##### -->
  <section class="about-us-area">
    <div class="container">
      <div class="row align-items-center">

        <!-- About Us Content -->
        <div class="col-12 col-md-8">
          <div class="about-us-content mb-100">
            <!-- Section Heading -->
            <div class="section-heading">
              <p>About us</p>
              <h2><span>Let Us</span> Tell You Our Story</h2>
              <img src="{% static 'service/img/core-img/decor.png' %}" alt="">
            </div>

<h2>
            Prologue(Introduction):</h2><p><br>
It's been said from the very onset of the human civilization that humans are the greatest assets of this world. What we believe at Farmket is, that not only they're the greatest but the most productive beings ever! By keeping this in mind, we've designed a platform full of the most productive and greatest humankind possible!

</p>

<br>
<br>
<h2 ><br>
            Our Story:</h2>
        <p>  <br>  We started off with a very humble beginning consisting of very limited resources and only a dedicated team of people whose life is devoted to working towards the betterment of the farming sector in India! We've always worked considering the farmers as our deities cause they provide us the basic nutrients to work our body out! We worship our work as much as we worship the farmers of our country and we always look forward to serve you in the best way possible!


</p>
            <br>
            <br>
            <br>
<h2 style="margin-bottom:20px;">
  Our Mission:</h2>
<p>A great man once said, "Work today as you've to die tomorrow" and we at Farmket are the greatest believers of that philosophy! We are at a mission to completely transform the Agriculture Industry in India to a whole new level generating wealth and prosperity among the farmers and whole of the Industry! We consider our MISSION as our OBSESSION.
</p>


<br>
<br>
<br>
<h2 >
  Our Promise:</h2><br><br><p>
We deliver a whole new level of customer experience in Agriculture never ever experienced before in the Industry! Our promise is to keep the experience to the highest level possible!
          </p>
<br>
<br>


<h2 style="margin-bottom:20px;">
  Our Vibe:</h2><p>
The work ethic at Farmket is no question of immense purity. We consider in equality and fairness of work. We never believe in degrading our vibe of awesomeness.

          </p>
            <br>
            <br>
            <br>


<h2 style="margin-bottom:20px;">
  Conclusion:</h2><p>
We strive each and everyday to be better than our past self and we constantly improve the degree of work quality.
We look forward to serve you the best and have a great experience ahead with Farmket!
Thank You For Being With Us!
Team Farmket
            <br>
            <b>(Co-founded by Surya Jain and Nikhil Dangi)</b></p>
            <!--<a href="#" class="btn famie-btn mt-30">Read More</a>-->
          </div>
        </div>

        <!-- Famie Video Play -->
        <div class="col-12 col-md-4">
          <div class="famie-video-play mb-100">
            <img src="{% static  'img/bg-img/6.jpg' %}" alt="">
            <!-- Play Icon -->
            <a href="http://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-icon"><i class="fa fa-play"></i></a>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ##### About Us Area End ##### -->


  <!--&lt;!&ndash; ##### Team Member Area Start ##### &ndash;&gt;-->
  <!--<section class="team-member-area section-padding-100-0">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col-12">-->
          <!--&lt;!&ndash; Section Heading &ndash;&gt;-->
          <!--<div class="section-heading text-center">-->
            <!--<p>MEET OUR TEAM</p>-->
            <!--<h2><d>The Great Team</d> Will Always Help You</h2>-->
            <!--<img src="img/core-img/decor2.png" alt="">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="row">-->

        <!--&lt;!&ndash; Single Team Member &ndash;&gt;-->
        <!--<div class="col-12 col-sm-6 col-lg-3">-->
          <!--<div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="100ms">-->
            <!--&lt;!&ndash; Team Thumbnail &ndash;&gt;-->
            <!--<div class="team-img">-->
              <!--<img src="{% static 'service/img/bg-img/20.jpg' %}" alt="">-->
              <!--&lt;!&ndash; Social Info &ndash;&gt;-->
              <!--<div class="team-social-info">-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Team Member Info &ndash;&gt;-->
            <!--<div class="team-member-info">-->
              <!--<h5>Carlos Bacca</h5>-->
              <!--<h6>Coordinator</h6>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Team Member &ndash;&gt;-->
        <!--<div class="col-12 col-sm-6 col-lg-3">-->
          <!--<div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="300ms">-->
            <!--&lt;!&ndash; Team Thumbnail &ndash;&gt;-->
            <!--<div class="team-img">-->
              <!--<img src="{% static 'service/img/bg-img/21.jpg' %}" alt="">-->
              <!--&lt;!&ndash; Social Info &ndash;&gt;-->
              <!--<div class="team-social-info">-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Team Member Info &ndash;&gt;-->
            <!--<div class="team-member-info">-->
              <!--<h5>Emilia Clarke</h5>-->
              <!--<h6>Controller</h6>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Team Member &ndash;&gt;-->
        <!--<div class="col-12 col-sm-6 col-lg-3">-->
          <!--<div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="500ms">-->
            <!--&lt;!&ndash; Team Thumbnail &ndash;&gt;-->
            <!--<div class="team-img">-->
              <!--<img src="{% static 'service/img/bg-img/22.jpg' %}" alt="">-->
              <!--&lt;!&ndash; Social Info &ndash;&gt;-->
              <!--<div class="team-social-info">-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Team Member Info &ndash;&gt;-->
            <!--<div class="team-member-info">-->
              <!--<h5>Brian Doherty</h5>-->
              <!--<h6>Sales Executive</h6>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash; Single Team Member &ndash;&gt;-->
        <!--<div class="col-12 col-sm-6 col-lg-3">-->
          <!--<div class="single-team-member mb-100 wow fadeInUp" data-wow-delay="700ms">-->
            <!--&lt;!&ndash; Team Thumbnail &ndash;&gt;-->
            <!--<div class="team-img">-->
              <!--<img src="{% static 'service/img/bg-img/23.jpg' %}" alt="">-->
              <!--&lt;!&ndash; Social Info &ndash;&gt;-->
              <!--<div class="team-social-info">-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Facebook"><i class="fa fa-facebook"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Twitter"><i class="fa fa-twitter"></i></a>-->
                <!--<a href="#" data-toggle="tooltip" data-placement="right" title="Pinterest"><i class="fa fa-pinterest"></i></a>-->
              <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; Team Member Info &ndash;&gt;-->
            <!--<div class="team-member-info">-->
              <!--<h5>Mary O’Connor</h5>-->
              <!--<h6>Plan Manager</h6>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</section>-->
    {% endblock %}


    {% block bases %}

    <script src="{% static 'service/owl.carousel.min.js' %}"></script>
    <script>
        $('.testimonial-carousel').owlCarousel({
    loop:true,
    margin:20,
    autoplay:true,

    responsive:{
        0:{
            items:1
        },
        600:{
            items:2
        },
        1000:{
            items:3
        }
    }
})


    </script>
{% endblock %}
