    {% extends 'service/base.html' %}

{% load staticfiles %}
{% load crispy_forms_tags %}

    {% block head %}

    <title>Help,Support about us, You can contact u s our email and phone no,We help You .</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" >
<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />

<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="canonical" href="http://www..com/service/contact_us/">

{% endblock %}



    {% block basel %}


    {% endblock %}




{% block albums_active %}active{% endblock %}


{% block body %}

		<div id="container-fluid" style="margin-top:100px; margin-bottom:100px;">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 animate-box">
	  <p>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </p>
  <p>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </p>
					</div>
				</div>
			</div>
		</div>

    {% endblock %}


    {% block bases %}

<script>
	bootstrapValidate('#email','email:Enter  avalid email addres');
</script>
{% endblock %}
